<!DOCTYPE html>
<html>
<head>
    <title>AmplitudeJS Testing</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for('static', filename = 'js/jquery.js') }}"></script>
    <link href="{{ url_for('static', filename = 'bootstrap/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Include Resource Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/foundation.min.css') }}"/>

    <!-- Include font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

    <!--
        Include Resource Javascript
        NOTE: These are for handling things outside of the scope of AmplitudeJS
    -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/foundation.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/functions.js') }}"></script>

    <!-- Include Amplitude JS -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'dist/amplitude.js') }}"></script>

    <!-- Include Style Sheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/app.css') }}"/>
</head>
<body>

<div class="content-wrapper" align="center">
    <div class="banner" align="center">
        <img src="{{ url_for('static', filename = 'images/banner.png') }} "/>
    </div>
    <div id="white-player">

        <div class="white-player-top">
            <div class="grid-x">
                <div class="large-3 medium-3 small-3 cell">

                </div>
                <div class="large-6 medium-6 small-6 cell">
                    <span class="now-playing">Now Playing</span>
                </div>
                <div class="large-3 medium-3 small-3 cell">
                    <img src="{{ url_for('static', filename = './img/show-playlist.svg') }}" class="show-playlist"/>
                </div>
            </div>
        </div>

        <div id="white-player-center">
            <img data-amplitude-song-info="cover_art_url" class="main-album-art"/>

            <div class="song-meta-data">
                <span data-amplitude-song-info="name" class="song-name"></span>
                <span data-amplitude-song-info="artist" class="song-artist"></span>
            </div>

            <div class="time-progress">
                <div class="grid-x">
                    <div class="large-12 medium-12 small-12 cell">
                        <div id="progress-container">
                            <input type="range" class="amplitude-song-slider"/>
                            <progress id="song-played-progress" class="amplitude-song-played-progress"></progress>
                            <progress id="song-buffered-progress" class="amplitude-buffered-progress"
                                      value="0"></progress>
                        </div>
                    </div>
                </div>

                <div class="grid-x">
                    <div class="large-6 medium-6 small-6 cell">
                  <span class="current-time">
  				          <span class="amplitude-current-minutes"></span>:<span
                          class="amplitude-current-seconds"></span>
  				        </span>
                    </div>
                    <div class="large-6 medium-6 small-6 cell">
                  <span class="duration">
  				          <span class="amplitude-duration-minutes"></span>:<span
                          class="amplitude-duration-seconds"></span>
  				        </span>
                    </div>
                </div>
            </div>
        </div>

        <div id="white-player-controls">
            <div class="grid-x">
                <div class="large-12 medium-12 small-12 cell">
                    <div class="amplitude-shuffle amplitude-shuffle-off" id="shuffle"></div>
                    <div class="amplitude-prev" id="previous"></div>
                    <div class="amplitude-play-pause" id="play-pause"></div>
                    <div class="amplitude-next" id="next"></div>
                    <div class="amplitude-repeat" id="repeat"></div>
                </div>
            </div>
        </div>

        <div id="white-player-playlist-container">
            <div class="white-player-playlist-top">
                <div class="grid-x">
                    <div class="large-3 medium-3 small-3 cell">

                    </div>
                    <div class="large-6 medium-6 small-6 cell">
                        <span class="queue">Queue</span>
                    </div>
                    <div class="large-3 medium-3 small-3 cell">
                        <img src="{{ url_for('static', filename = './img/close.svg') }}" class="close-playlist"/>
                    </div>
                </div>
            </div>


            <div class="white-player-playlist">
                <div class="white-player-playlist-song amplitude-song-container amplitude-play-pause"
                     data-amplitude-song-index="0">
                    <img src="{{ url_for('static', filename = 'album-art/howie.jpg') }}"/>

                    <div class="playlist-song-meta">
                        <span class="playlist-song-name">Howie Day</span>
                        <span class="playlist-artist-album">Collide</span>
                    </div>
                </div>
                <div class="white-player-playlist-song amplitude-song-container amplitude-play-pause"
                     data-amplitude-song-index="1">
                    <img src="{{ url_for('static', filename = 'album-art/bolbbalgan4.jpg') }}"/>

                    <div class="playlist-song-meta">
                        <span class="playlist-song-name">#First Love</span>
                        <span class="playlist-artist-album">볼빨간사춘기</span>
                    </div>
                </div>
                <div class="white-player-playlist-song amplitude-song-container amplitude-play-pause"
                     data-amplitude-song-index="2">
                    <img src="{{ url_for('static', filename = 'album-art/george.jpg') }}"/>

                    <div class="playlist-song-meta">
                        <span class="playlist-song-name">Budapest</span>
                        <span class="playlist-artist-album">George Ezra</span>
                    </div>
                </div>
                <div class="white-player-playlist-song amplitude-song-container amplitude-play-pause"
                     data-amplitude-song-index="3">
                    <img src="{{ url_for('static', filename = 'album-art/perfect.jpg') }}"/>

                    <div class="playlist-song-meta">
                        <span class="playlist-song-name">Perfect</span>
                        <span class="playlist-artist-album">Ed Sheeran</span>
                    </div>
                </div>
                <div class="white-player-playlist-song amplitude-song-container amplitude-play-pause"
                     data-amplitude-song-index="4">
                    <img src="{{ url_for('static', filename = 'album-art/yougimmesomething.jpg') }}"/>

                    <div class="playlist-song-meta">
                        <span class="playlist-song-name">You give me something</span>
                        <span class="playlist-artist-album">James Morrison</span>
                    </div>
                </div>
                <div class="white-player-playlist-song amplitude-song-container amplitude-play-pause"
                     data-amplitude-song-index="5">
                    <img src="{{ url_for('static', filename = 'album-art/buble.jpg') }}"/>

                    <div class="playlist-song-meta">
                        <span class="playlist-song-name">Everything</span>
                        <span class="playlist-artist-album">Michael Buble</span>
                    </div>
                </div>
                <div class="white-player-playlist-song amplitude-song-container amplitude-play-pause"
                     data-amplitude-song-index="6">
                    <img src="{{ url_for('static', filename = 'album-art/driftedaway.jpg') }}"/>

                    <div class="playlist-song-meta">
                        <span class="playlist-song-name">Drifted Away</span>
                        <span class="playlist-artist-album">Luke Kenndy</span>
                    </div>
                </div>
                <div class="white-player-playlist-song amplitude-song-container amplitude-play-pause"
                     data-amplitude-song-index="7">
                    <img src="{{ url_for('static', filename = 'album-art/angels.jpg') }}"/>

                    <div class="playlist-song-meta">
                        <span class="playlist-song-name">Angels</span>
                        <span class="playlist-artist-album">Robbie Williams</span>
                    </div>
                </div>

                <div class="white-player-playlist-song amplitude-song-container amplitude-play-pause"
                     data-amplitude-song-index="8">
                    <img src="{{ url_for('static', filename = 'album-art/soyou.jpg') }}"/>

                    <div class="playlist-song-meta">
                        <span class="playlist-song-name">The Blue Night of Jeju Island</span>
                        <span class="playlist-artist-album">SOYOU</span>
                    </div>
                </div>
                <div class="white-player-playlist-song amplitude-song-container amplitude-play-pause"
                     data-amplitude-song-index="9">
                    <img src="{{ url_for('static', filename = 'album-art/passitall.jpg') }}"/>

                    <div class="playlist-song-meta">
                        <span class="playlist-song-name">Pass It On</span>
                        <span class="playlist-artist-album">The Coral</span>
                    </div>
                </div>
                <div class="white-player-playlist-song amplitude-song-container amplitude-play-pause"
                     data-amplitude-song-index="10">
                    <img src="{{ url_for('static', filename = 'album-art/al.jpg') }}"/>

                    <div class="playlist-song-meta">
                        <span class="playlist-song-name">I Love You</span>
                        <span class="playlist-artist-album">Avril Lavigne</span>
                    </div>
                </div>
            </div>

            <div class="white-player-playlist-controls">
                <img data-amplitude-song-info="cover_art_url" class="playlist-album-art"/>

                <div class="playlist-controls">
                    <div class="grid-x">
                        <div class="large-6 medium-6 small-6 cell">
                            <span data-amplitude-song-info="name" class="song-name"></span>
                            <span data-amplitude-song-info="artist" class="song-artist"></span>
                        </div>
                        <div class="large-6 medium-6 small-6 cell">
                            <div class="playlist-control-wrapper">
                                <div class="amplitude-prev" id="playlist-previous"></div>
                                <div class="amplitude-play-pause" id="playlist-play-pause"></div>
                                <div class="amplitude-next" id="playlist-next"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript">
    Amplitude.init({
        "songs": [
            {
                "name": "Collide",
                "artist": "Howie Day",
                "album": "",
                "url": "{{ url_for('static', filename = 'music/Collide.mp3') }}",
                "cover_art_url": "{{ url_for('static', filename = 'album-art/howie.jpg') }}"
            },
            {
                "name": "#First Love",
                "artist": "Bolbbalgan4 (볼빨간사춘기)",
                "album": " #첫사랑",
                "url": "{{ url_for('static', filename = 'music/Firstlove.mp3') }}",
                "cover_art_url": "{{ url_for('static', filename = 'album-art/bolbbalgan4.jpg') }}"
            },
            {
                "name": "Budapest",
                "artist": "George Ezra",
                "album": "",
                "url": "{{ url_for('static', filename = 'music/George Ezra - Budapest.mp3') }}",
                "cover_art_url": "{{ url_for('static', filename = 'album-art/george.jpg') }}"
            },
            {
                "name": "Perfect",
                "artist": "Ed Sheeran",
                "album": "",
                "url": "{{ url_for('static', filename = 'music/Perfect - Ed Sheeran.mp3') }}",
                "cover_art_url": "{{ url_for('static', filename = 'album-art/perfect.jpg') }}"
            },
            {
                "name": "You give me something",
                "artist": "James Morrison",
                "album": "",
                "url": "{{ url_for('static', filename = 'music/james morrison- you give me somthing.mp3') }}",
                "cover_art_url": "{{ url_for('static', filename = 'album-art/yougimmesomething.jpg') }}"
            },
            {
                "name": "Everything",
                "artist": "Michael Buble",
                "album": "",
                "url": "{{ url_for('static', filename = 'music/Michael Buble - Everything.mp3') }}",
                "cover_art_url": "{{ url_for('static', filename = 'album-art/buble.jpg') }}"
            },
            {
                "name": "Drifted Away",
                "artist": "Luke Kenndy",
                "album": "",
                "url": "{{ url_for('static', filename = 'music/DRIFT AWAY-Luke Kennedy.mp3') }}",
                "cover_art_url": "{{ url_for('static', filename = 'album-art/driftedaway.jpg') }}"
            },
            {
                "name": "Angels",
                "artist": "Robbie Williams",
                "album": "",
                "url": "{{ url_for('static', filename = 'music/Robbie Williams - Angels.mp3') }}",
                "cover_art_url": "{{ url_for('static', filename = 'album-art/angels.jpg') }}"
            },
            {
                "name": "The Blue Night of Jeju Island",
                "artist": "SOYOU",
                "album": "",
                "url": "{{ url_for('static', filename = 'music/SOYOU-The Blue Night of Jeju Island.mp3') }}",
                "cover_art_url": "{{ url_for('static', filename = 'album-art/soyou.jpg') }}"
            },
            {
                "name": "Pass It On",
                "artist": "The Coral",
                "album": "",
                "url": "{{ url_for('static', filename = 'music/The Coral - Pass It On.mp3') }}",
                "cover_art_url": "{{ url_for('static', filename = 'album-art/passitall.jpg') }}"
            },
            {
                "name": "I Love You",
                "artist": "Avril Lavigne",
                "album": "",
                "url": "{{ url_for('static', filename = 'music/Avril Lavigne - I Love You.mp3') }}",
                "cover_art_url": "{{ url_for('static', filename = 'album-art/al.jpg') }}"
            }
        ]
    });
</script>
</html>